In [16]:
import pandas as pd

df = pd.read_csv(r'..\data\sarze_5\teplota\gw1100a_outdoor_temperature.csv')

In [17]:
df.head()

                          time  value
0  2025-03-04T00:01:57.101829Z    0.6
1  2025-03-04T00:07:53.523792Z    0.5
2  2025-03-04T00:15:53.589782Z    0.4
3  2025-03-04T00:25:53.991126Z    0.3
4  2025-03-04T00:48:54.185508Z    0.2

In [18]:
# Convert time column to datetime
df['time'] = pd.to_datetime(df['time'])




# Get statistics on time intervals
df.sort_values(by='time', inplace=True)
df['time_diff'] = df['time'].diff()
time_diff_stats = df['time_diff'].describe()
print("\nTime interval statistics (in seconds):")
print(time_diff_stats)
print("median: ", df["time_diff"].median())

print(df[df["time_diff"] > pd.Timedelta(hours=20)])

Time interval statistics (in seconds):
count                        14767
mean     0 days 00:05:49.646681934
std      0 days 00:20:06.066824017
min         0 days 00:00:54.268934
25%      0 days 00:02:00.009605500
50%         0 days 00:03:00.031855
75%      0 days 00:06:00.053882500
max         0 days 23:10:53.433327
Name: time_diff, dtype: object
median:  0 days 00:03:00.031855
                                  time  value              time_diff
13504 2025-04-24 19:12:47.889297+00:00   12.2 0 days 23:10:53.433327

In [20]:
df['time'] = df['time'].dt.tz_convert('Europe/Prague')

In [21]:
print(df.head())

                              time  value              time_diff
0 2025-03-04 01:01:57.101829+01:00    0.6                    NaT
1 2025-03-04 01:07:53.523792+01:00    0.5 0 days 00:05:56.421963
2 2025-03-04 01:15:53.589782+01:00    0.4 0 days 00:08:00.065990
3 2025-03-04 01:25:53.991126+01:00    0.3 0 days 00:10:00.401344
4 2025-03-04 01:48:54.185508+01:00    0.2 0 days 00:23:00.194382

In [ ]:
def parse(s):
    try:

        # Parse timestamp, handling all timezone formats
        time_str = data['time']
        print(time_str)
        
        # Check if timestamp already has timezone information
        if 'Z' in time_str or '+' in time_str or '-' in time_str:
            # If it has timezone info, parse it directly
            timestamp = datetime.datetime.fromisoformat(time_str)
        else:
            # If no timezone info, assume UTC and add it
            timestamp = datetime.datetime.fromisoformat(time_str + '+00:00')
            
        # Convert to UTC if not already in UTC
        if timestamp.tzinfo is not None:
            timestamp = timestamp.astimezone(datetime.timezone.utc)
            
        value = float(data['value'])
        source = data.get('source', '')
        additional_value = float(data.get('processing_time_ms', 0.0))  # Default to 0.0 if not present
        return timestamp, value, source, additional_value
    except (json.JSONDecodeError, KeyError, ValueError) as e:
        print(f"Error parsing message: {e}, message: {s[:100]}...")
        # Return default values or re-raise based on your error handling strategy
        raise

In [29]:
df.iloc[0,0] = pd.to_datetime("2025-03-04 01:01:57.101829+02:00")
df.iloc[1,0] = pd.to_datetime("2025-03-04 01:07:53.523792+03:00")
df.iloc[2,0] = pd.to_datetime("2025-03-04 01:13:50.000000+04:00")
df.iloc[2,0] = pd.to_datetime("2025-03-04 01:13:50.000000Z")


print(df['time'][:10])

0    2025-03-04 01:01:57.101829+02:00
1    2025-03-04 01:07:53.523792+03:00
2           2025-03-04 01:13:50+00:00
3    2025-03-04 01:25:53.991126+01:00
4    2025-03-04 01:48:54.185508+01:00
5    2025-03-04 02:00:54.287672+01:00
6    2025-03-04 02:09:53.474411+01:00
7    2025-03-04 02:19:53.849728+01:00
8    2025-03-04 02:33:53.963139+01:00
9    2025-03-04 02:44:54.075064+01:00
Name: time, dtype: object

In [31]:
# testování časového převodu


import datetime
# Parse timestamp, handling all timezone formats
for i in range(10):
    time_str = str(df['time'][i])
    print("incoming time: ", time_str)

    # Check if timestamp already has timezone information
    if 'Z' in time_str or '+' in time_str or '-' in time_str:
        # If it has timezone info, parse it directly
        timestamp = datetime.datetime.fromisoformat(time_str)
    else:
        # If no timezone info, assume UTC and add it
        timestamp = datetime.datetime.fromisoformat(time_str + '+00:00')
        
    # Convert to UTC if not already in UTC
    if timestamp.tzinfo is not None:
        timestamp = timestamp.astimezone(datetime.timezone.utc)
    print("outgoing time: ", timestamp)

incoming time:  2025-03-04 01:01:57.101829+02:00
outgoing time:  2025-03-03 23:01:57.101829+00:00
incoming time:  2025-03-04 01:07:53.523792+03:00
outgoing time:  2025-03-03 22:07:53.523792+00:00
incoming time:  2025-03-04 01:13:50+00:00
outgoing time:  2025-03-04 01:13:50+00:00
incoming time:  2025-03-04 01:25:53.991126+01:00
outgoing time:  2025-03-04 00:25:53.991126+00:00
incoming time:  2025-03-04 01:48:54.185508+01:00
outgoing time:  2025-03-04 00:48:54.185508+00:00
incoming time:  2025-03-04 02:00:54.287672+01:00
outgoing time:  2025-03-04 01:00:54.287672+00:00
incoming time:  2025-03-04 02:09:53.474411+01:00
outgoing time:  2025-03-04 01:09:53.474411+00:00
incoming time:  2025-03-04 02:19:53.849728+01:00
outgoing time:  2025-03-04 01:19:53.849728+00:00
incoming time:  2025-03-04 02:33:53.963139+01:00
outgoing time:  2025-03-04 01:33:53.963139+00:00
incoming time:  2025-03-04 02:44:54.075064+01:00
outgoing time:  2025-03-04 01:44:54.075064+00:00